@font-face {
    font-family: "Roboto Regular";
    src: url('public/ressources/font/Roboto-Regular.ttf');
}

/* Eléments principaux de la page */
body{
    font-family: 'Roboto Regular', serif;
}
h1, h3
{
    text-align:center;
}
h3
{
    background-color:#adadad;
    color:black;
    font-size:1.5em;
    margin-bottom:0px;
}
.italic
{
    font-style: italic;
}
.back_link
{
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
    margin-left: 260px;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
}
header #logo{
    margin-left: 80px;
}
header nav{
    margin-right: 130px;
}

.alert{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1060;
}

/* Navigation */
nav ul{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}
nav li{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.8em;
}
nav a{
    text-decoration: none;
    color: #e1a55b;
    padding: 8px;
    font-size: 1.1em;
}
nav a:hover{
    border-top: 2px solid #e1a55b;
    padding-top: 25px;
}
/* Sections de la page welcome */
.index_pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 120px;
}

#welcome_section{
    width: 90%;
    height: 500px;
}

#welcome_lastPosts{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 100px;
}

/* Sections de la page "listPosts" */
#listPosts_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 120px;
}

.chapter_container{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.chapter p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
}
.chapter
{
    width:90%;
    margin:auto;
}

.all_chapter{
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
}
.comments{
    text-decoration: none;
    color: blue;
    font-size: 1.1em;
}
.alert{
    text-decoration: none;
    color: blue;
    font-size: 1.0em;
}

/* Sections de la page "Post" */
.index_chapitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Sections de la page "Comments" */
.comments_container{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.comments_container p{
    margin-left: 20px;
    font-style: italic;
}