@font-face {
    font-family: "Roboto Regular";
    src: url('public/ressources/font/Roboto-Regular.ttf');
}

/* Eléments principaux de la page */
body{
    font-family: 'Roboto Regular', serif;
}
h1, h3
{
    text-align:center;
}
h3
{
    background-color:#adadad;
    color:black;
    font-size:1.5em;
    margin-bottom:0px;
}
.italic
{
    font-style: italic;
}
.back_link
{
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
    margin-left: 260px;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
}
header #logo{
    margin-left: 80px;
}
header nav{
    margin-right: 130px;
}

.alert{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1060;
}

/* Navigation */
nav ul{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}
nav li{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.8em;
}

.links_header{
    text-decoration: none;
    color: #e1a55b;
    padding: 6px;
    font-size: 0.8em;
}

.links_header:hover{
    border-top: 2px solid #1e8cb5;
    padding-top: 6px;
}

/* Sections de la page welcome */
.index_pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 120px;
}

#welcome_section{
    width: 90%;
    height: 500px;
}

#welcome_lastPosts{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    width: 50%;
    margin-left: 60px;
    margin-right: 60px;
}

/* Sections de la page "listPosts" */
#listPosts_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 120px;
}

.chapter_container{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.chapter p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.chapter
{
    margin:auto;
}

.all_chapter{
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
}
.comments{
    text-decoration: none;
    color: blue;
    font-size: 1.1em;
}
.alert{
    text-decoration: none;
    color: blue;
    font-size: 1.0em;
}

/* Sections de la page "Post" */
.index_chapitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Sections de la page "Comments" */
.comments_container{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.comments_container p{
    margin-left: 20px;
    font-style: italic;
}


/* Section Back Office */
.BO_links_header{
    text-decoration: none;
    color: #1e8cb5;
    padding: 6px;
    font-size: 0.6em;
}

.BO_links_header:hover{
    border-top: 2px solid #8999a6;
    padding-top: 6px;
}

.BO_links_backToSite{
    text-decoration: none;
    color: #8999a6;
    padding: 6px;
    font-size: 0.8em;
    font-style: italic;
}

.BO_links_backToSite:hover{
    border-top: 2px solid #8999a6;
    padding-top: 6px;
}

#BO_welcome_footer{
    margin-top: 10px;
}

#BO_welcome_footer p{
    text-decoration: none;
    padding: 6px;
    font-size: 1.2em;
    font-style: italic;
}

/* Section BO de la page "allAlerts" */
#BO_welcome_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 80px;
}

#BO_welcome_allAlerts{
    border: 2px solid #1e8cb5;
    border-radius: 20px;
    width: 50%;
    margin-left: 60px;
    margin-right: 60px;
}

.alerts p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.alerts
{
    margin:auto;
}

/* Section BO de la page "addPost" */
#BO_addPost p{
    text-align: center;
}

/* Section BO de la page "allPosts" */
.BO_chapter_container{
    border: 2px solid #1e8cb5;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.BO_index_pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BO_chapter p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.BO_chapter
{
    margin:auto;
}

/* Sections BO de la page "Comments" */
.BO_commentsContainer{
    border: 2px solid #1e8cb5;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.BO_commentsContainer p{
    margin-left: 20px;
    font-style: italic;
}