/* Font define */
@font-face {
    font-family: "Roboto Regular";
    src: url('public/ressources/font/Roboto-Regular.ttf');
}

/* General css elements of page */
body{
    font-family: 'Roboto Regular', serif;
}

h1, h3
{
    text-align:center;
}

h3
{
    background-color:#adadad;
    color:black;
    border-radius: 20px;
    font-size:1.5em;
    margin-bottom:0px;
}

.italic
{
    font-style: italic;
}

.welcome_description{
    text-align: center;
}

.body_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.back_link
{
    font-size: 1.2em;
    background-color: #E6A83D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.BO_back_link
{
    font-size: 1.2em;
    background-color: #1E8CB5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}
/***********************/
/*     Site section    */
/***********************/

/* Header css elements */
header{
    display: flex;
    justify-content: space-between;
}

header #logo{
    margin-left: 80px;
}

header nav{
    margin-right: 130px;
}

.alert{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1060;
}

/* Navigation css elements */
nav ul{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}
nav li{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.8em;
}

.links_header{
    text-decoration: none;
    color: #e1a55b;
    padding: 6px;
    font-size: 0.8em;
}

.links_header:hover{
    border-top: 2px solid #1e8cb5;
    padding-top: 6px;
}

#admin_link{
    color: #1e8cb5;
    font-style: italic;
}

/* welcome page - css elements */
.index_pages_link{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.index_pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 180px;
}

#welcome_section{
    width: 90%;
    height: 500px;
}

#welcome_lastPosts{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    width: 50%;
    margin-left: 60px;
    margin-right: 60px;
}

/* listPosts page - css elements */
#listPosts_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 120px;
}

.chapter_container{
    border: 2px solid #e1a55b;
    border-radius: 20px;
    margin-bottom: 20px;
}

.chapter p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.chapter
{
    margin:auto;
}

.all_chapter{
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
}

.comments{
    text-decoration: none;
    color: blue;
    font-size: 1.1em;
}

.alert{
    text-decoration: none;
    color: blue;
    font-size: 1.0em;
}

/* post page - css elements */
.index_chapitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* comments page - css elements */
.comments_container{
    border: 2px solid #e1a55b;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.comments_container p{
    margin-left: 20px;
    font-style: italic;
}

.newComment_container{
    border: 2px solid #94A2AE;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.newComment_container h4{
    text-align: center;
    font-style: italic;
}

.newComment_container label, input{
    margin-left: 20px;
}

.newComment_container input{
    margin-bottom: 10px;
}

#author{
    margin-left: 20px;
    width: 50%;
}

#comment{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 50%;
}

/***********************/
/* Back Office section */
/***********************/

/* Header css elements */
.BO_links_header{
    text-decoration: none;
    color: #1e8cb5;
    padding: 6px;
    font-size: 0.6em;
}

.BO_links_header:hover{
    border-top: 2px solid #8999a6;
    padding-top: 6px;
}

.BO_links_backToSite{
    text-decoration: none;
    color: #8999a6;
    padding: 6px;
    font-size: 0.8em;
    font-style: italic;
}

.BO_links_backToSite:hover{
    border-top: 2px solid #8999a6;
    padding-top: 6px;
}

/* Footer css elements */
#BO_welcome_footer{
    margin-top: 10px;
}

#BO_welcome_footer p{
    text-decoration: none;
    padding: 6px;
    font-size: 1.2em;
    font-style: italic;
}

/* Back Office - Weclome page - css elements */
#BO_welcome_index{
    width: 70%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    margin-bottom: 80px;
}

#BO_welcome_allAlerts{
    border: 2px solid #1e8cb5;
    border-radius: 20px;
    width: 50%;
    margin-left: 60px;
    margin-right: 60px;
}

.alerts p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.alerts
{
    margin:auto;
}

/* Back Office - Add post page - css elements */
#BO_addPost p{
    text-align: center;
}

/* Back Office - All posts page - css elements */
.BO_chapter_container{
    border: 2px solid #1e8cb5;
    border-radius: 20px;
    margin-bottom: 20px;
}

.BO_index_pages_link{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.BO_index_pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BO_chapter p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.BO_chapter
{
    margin:auto;
}

/* Back Office - Comments page - css elements */
.BO_commentsContainer{
    border: 2px solid #1e8cb5;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.BO_commentsContainer p{
    margin-left: 20px;
    font-style: italic;
}

#chapterNumber{
    margin-left: 0px;
}

/* Authentication - General css elements */
.logRegButtons_container{
    display: flex;
    justify-content: space-between;
}
/* Login page - css elements */
#loginForm {
    display: flex;
    margin-bottom: 30px;
    width: 30%;
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
}

#loginButton:hover {
  opacity: 0.8;
}

.loginForm_container {
  padding: 16px;
}

/* Registration page - css elements */
#regButton{
  background-color: #1e8cb5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  text-align: center;
}

#regButton:hover {
  opacity: 0.8;
}

#regForm{
    display: flex;
    margin-bottom: 30px;
    width: 30%;
    border: 3px solid #f1f1f1;
}

.regForm_container{
    padding: 16px;
}

